<div class="Home" id="content">
    

  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes9">
	  
  Min Max
	  
	  
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	
	  
 Mars Exploration
 
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
  Cut the sticks
	  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes18">
	 
	  
	  Utopian Tree
	  
	  </div>
  </div>
  
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	  Simple Array Sum
	  

	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	 Camel Case
	  </div>
  </div>
  
 
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  
	  Stair Case
	  
	  
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	
	  Find Digits
	  
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
  Apple and Orange
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes39">
	  Angry Professor
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
  
	  Lecture Notes
	  
	</div>
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	  Learning from Past
	  
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	  Flipping Bits
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	  Halloween 
  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
  
	  Choco
	  
	  </div>
	
	
	
  </div>
	
  
  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes57">
  Service Lane
  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
  Pangram
  </div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  
	  Birth Day Chocalate
	  </div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
		
  Between Two sets	
		
	  
	  
	  
	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes69">
	  
  Grading Students
  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

  Breaking the records
	  
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
  Time in words 
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
  Library Fine
  
  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	Diagnol Difference
  
	
	</div>
	
  </div >
  
    
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
  Alternating Characters
	</div>
	
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
  
	  Angry Professor
	  
	  
	  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  
	  Is Fibo 
	  
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
  
	  Lonely Integer
	  
	</div>
	
	
  </div>
  
  
  <div class="kit-dropdown-button" click-link="/keyframes96">
	
	
	
  <div class="button">
	
	Insertion Sort
	
	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes102">
	  
	  Filling the jars
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes105">



	  A very Big Sum

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes108">



	  Taum and the Birth day
	  
	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes112">



	  Love letter Mystery
	  
	  </div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes115">



	  Find Point
	  
	  </div>
  </div>
  
  
  
  
</div>

