<div class="Home" id="content">
    

  <div class="kit-dropdown-button closed">
	<div class="button" click-link="/keyframes3">
	  Add Binary
	  </div>

  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes9">
	  
 Arranging coins
	  
	  
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	
	  
Array Nesting
	  
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
  
	  Best to time to buy and sell stock
	  
	  
	  </div>
  </div>
  


  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	 Bomb Enemy
	  

	</div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	Can i win
	  
	  </div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  
	  Count and Say
	  
	  
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	  Find peak element
	  
	  
	  </div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
  Add Strings
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes39">
	  Best Meeting Point
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
 
	  Brick Wall
  
	  
	</div>
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	  Bulbs and Cow
	  
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	 Candy
	  
	</div>
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	  Ugly Number
  
  </div>
	
  </div>
 
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
  Additive Number
	  </div>
	
	
	
  </div>
  
  
	
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
  
	  Count Primes
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  Counting bits
	
	</div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
  
		Detect capital
		
		
	  
	  
	  
	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes69">
	  
 Divide two integers
	  
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

  Find all duplicates in an array.
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
  Find permutation
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
  Anagram
	  
	  
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	
  Bulb switcher
	
	</div>
	
  </div >
  <!--
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
  How can JDBC be used more efficiently in the Spring framework?
  
	</div>
	
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
  Spring DAO support
	  
	  
	  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  What are the ways to access Hibernate by using Spring?
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
  ORM’s Spring support
	</div>
	
	
  </div>
  
  <div class="kit-dropdown-button" click-link="/keyframes96">
	
	
	
  <div class="button">How can we integrate Spring and Hibernate using HibernateDaoSupport?
	  
	  
	</div>
  </div>
  
  

  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes102">
	  
	  What is the difference between concern and cross-cutting concern in Spring AOP
	  
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes105">



	  What are the benefits of the Spring Framework’s transaction management?
	  

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes108">



	  Which Transaction management type is more preferable?

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes112">



	  What is Controller in Spring MVC framework?
	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes115">



	  Controller annotation
	  
	  </div>
  </div>
  
  -->
  
  
</div>

