<div class="Home" id="content">
    

  <div class="kit-dropdown-button closed">
	<div class="button" click-link="/keyframes3">
	  Cut the Tree
	  
	  </div>

  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes9">
	  
  Lonely Integer
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	
	  
  Find Median
  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
  
	  Angry Children
	  
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes18">
	 
	  
	  Mark And Toys	  
	  
	  </div>
  </div>
  
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	  two arrays
	  

	</div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	 
	  Gem stones
	  
	  </div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  
	  Ice cream Parlour
	  
	  
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	 
	  Sam And Substring
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
  
	  Check Gcd
	  
	  
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes39">
	  
	  Bus station
	  
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
  
	  Is Fibo
  
	  
	</div>
	
	
  </div>
  <!--
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	  What are the benefits of IOC?
	  
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	  How do you provide configuration metadata to the Spring Container?
	  
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	  How do you define the scope of a bean?
  
  </div>
	
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
  Explain the bean scopes supported by Spring?
	  
	  </div>
	
	
	
  </div>
	
  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes57">
  Explain Bean lifecycle in Spring framework
  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
  Which are the important beans lifecycle methods? Can you override them?
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  
	  What are inner beans in Spring?
	</div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
  How can you inject a Java Collection in Spring?
		
		
	  
	  
	  
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes69">
	  
  What is bean wiring?
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

  What is bean auto wiring?
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
  Explain different modes of auto wiring?
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
  What is Spring Java-Based Configuration? Give some annotation example.
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	
  What is Annotation-based container configuration?
  
	
	</div>
	
  </div >
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
  How can JDBC be used more efficiently in the Spring framework?
  
	</div>
	
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
  Spring DAO support
	  
	  
	  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  What are the ways to access Hibernate by using Spring?
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
  ORM’s Spring support
	</div>
	
	
  </div>
  
  <div class="kit-dropdown-button" click-link="/keyframes96">
	
	
	
  <div class="button">How can we integrate Spring and Hibernate using HibernateDaoSupport?
	  
	  
	</div>
  </div>
  
  

  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes102">
	  
	  What is the difference between concern and cross-cutting concern in Spring AOP
	  
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes105">



	  What are the benefits of the Spring Framework’s transaction management?
	  

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes108">



	  Which Transaction management type is more preferable?

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes112">



	  What is Controller in Spring MVC framework?
	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes115">



	  Controller annotation
	  
	  </div>
  </div>
  
  -->
  
  
</div>

