<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	



#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() {
	long int a=0,b,c;
	int test,i;
    long int number;
	scanf("%d",&test);
	for(i=0;i&lttest;i++)
	{
		scanf("%ld",&number);
		a=0;
		b=1;
		c=1;
	while(c &lt number)
	{
		a=b;
		b=c;
		c=a+b;
	}
	if(c==number)
	{
		printf("IsFibo\n");
	}
	else 
	{
		printf("IsNotFibo\n");
	}
	}
    /* Enter your code here. Read input from STDIN. Print output to STDOUT */    
    return 0;
}

</code></pre>
  </body>
</html>		
