<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	





#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() {
    int test,i,a,b,c,d;
    scanf("%d",&test);
    for(i=0;i&lttest;i++)
        {
        scanf("%d %d %d %d",&a,&b,&c,&d);
        printf("%d ",2*c-a);
        printf("%d\n",2*d-b);
    }
    /* Enter your code here. Read input from STDIN. Print output to STDOUT */    
    return 0;
}
 </code></pre>
  </body>
</html>		

