<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	



#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
    long int k=1,i;
    char* s = (char *)malloc(10240 * sizeof(char));
    scanf("%s",s);
    for(i=0;s[i]!='\0';i++)
        {
        if(s[i]&lt97)
            {
            k++;
        }
    }
    printf("%ld\n",k);
    return 0;
}


        </code></pre>
  </body>
</html>		
