<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-cpp"><code>






#include&ltiostream&gt
#include&ltvector&gt
#include&ltalgorithm&gt
using namespace std;

int main()
{
	int n, k;
	cin >> n >> k;
	vector<int> v;
	for (int i = 0; i < n; i++)
	{
		int num;
		cin >> num;
		v.push_back(num);
	}
	sort(v.begin(), v.end());
	long long sum = 0;
	int ret = 0;
	for (int i = 0; i < n; i++)
	{
		sum += v[i];
		if (sum >= k)
			break;
		ret++;
	}
	cout << ret << endl;
	return 0;
}



        </code></pre>
  </body>
</html>		
