<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	






#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt

int main()
        {
        int a,i,j;
        scanf("%d",&a);
        int arr[a];
        for(i=0;i&lta;i++)
            {
                scanf("%d",&arr[i]);
            }
        int k=0;
        for(j=0;j&lta;j++)
            {
            int count=0;
                for(k=0;k&lta;k++)
                    {
                        if(arr[j]==arr[k] && k!=j)
                            {
                                count=count+1;
                                    if(count&gt=1)
                                        {
                                            //printf("%d",arr[j]);
                                            break;
                                        }
                            }
                    }
            if(count==0)
                printf("%d",arr[j]);
            }
        return 0;
        }
