<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	




#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
    int n; 
    scanf("%d",&n);
    int arr[n];
    long int c,i;
    c=0;
    for(int arr_i = 0; arr_i &ltn; arr_i++){
       scanf("%d",&arr[arr_i]);
    }
    for(i=0;i&ltn;i++)
        {
        c=c+arr[i];
    }
    printf("%ld",c);
    return 0;
}


        </code></pre>
  </body>
</html>		
