<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	





#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
    long int a[5];
    int i,j,temp;
    for(i=0;i&lt5;i++)
        {
        scanf("%ld",&a[i]);
    }
    	for(j=0;j&lt4;j++)
	{
	for(i=0;i&lt4;i++)
	{
	if(a[i]>a[i+1])
	{
	temp=a[i];
	a[i]=a[i+1];
	a[i+1]=temp;}
}
}
  printf("%ld\t",a[0]+a[1]+a[2]+a[3]);
  printf("%ld",a[1]+a[2]+a[3]+a[4]);   
    
    return 0;
}

 </code></pre>
  </body>
</html>		
