<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	


#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() 
    {
    int N,i,j;
    scanf("%d",&N);
    for(i=1;i&lt=N;i++)
        {
        char arr[10001];
        scanf("%s",arr);
        int count=0;
        for(j=0;j&ltstrlen(arr)/2;j++)
            {
            if(arr[j]&ltarr[strlen(arr)-1-j])
                {
                count=arr[strlen(arr)-1-j]-arr[j] + count;
                }
            if(arr[j]&gtarr[strlen(arr)-1-j])
                {
                count=arr[j]-arr[strlen(arr)-1-j] + count;
                }
            }
        printf("%d\n",count);
        }
    return 0;
    }
	
	 </code></pre>
  </body>
</html>		
