<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	



#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
    int t,y,i; 
    scanf("%d",&t);
    for(int a0 = 0; a0 &lt t; a0++){
        int n; 
        y=1;
        scanf("%d",&n);
        for(i=1;i&lt=n;i++)
            {
            if(i%2!=0)
                {
                y=2*y;
                 }
            else
                {
                y=y+1;
            }
               }
        printf("%d\n",y);
    }
    return 0;
}

</code></pre>
  </body>
</html>		
