<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	






#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt
int main(){
    int t; 
    scanf("%d",&t);
    for(int a0 = 0; a0 &ltt; a0++){
        int n; 
        int k;
        int onTime=0, afterTime=0;
        scanf("%d %d",&n,&k);
        int a[n];
        for(int a_i = 0; a_i &lt n; a_i++){
           scanf("%d",&a[a_i]);
        }
        
        for(int a_i = 0; a_i &lt n; a_i++){
        if(a[a_i]&lt=0)
            {
            onTime++;
        }
        else
            {
            afterTime++;
        }
    }
        
        if(onTime >= k)
        {
        printf("NO\n");
    }
    else
        {
        printf("YES\n");
    }
   }    

    
    return 0;
}

</code></pre>
  </body>
</html>		
