
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> Explain Bean lifecycle in Spring framework</p>
	







	
	<br>The spring container finds the bean’s definition from the XML file and instantiates the bean.
	<br>Spring populates all of the properties as specified in the bean definition (DI).
	<br>If the bean implements BeanNameAware interface, spring passes the bean’s id to setBeanName() method.
	<br>If Bean implements BeanFactoryAware interface, spring passes the beanfactory to setBeanFactory() method.
	<br>If there are any bean BeanPostProcessors associated with the bean, Spring calls postProcesserBeforeInitialization() method.
	<br>If the bean implements IntializingBean, its afterPropertySet() method is called. If the bean has init method declaration, the specified initialization method is called.
	<br>If there are any BeanPostProcessors associated with the bean, their postProcessAfterInitialization() methods will be called.
	<br>If the bean implements DisposableBean, it will call the destroy() method.
  </div>






































</div>










 


 


 








 











