<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	



/*
Service lane question in hacker rank
Authored by abhiranjan on Nov 21 2013
https://www.hackerrank.com/challenges/service-lane
*/
#include&ltstdio.h&gt
int main()
  {
  int N,T;
  int width[100000];
  int i,j,lc,l2;
  int min=0;
  scanf("%d %d",&N,&T);
  //printf("%d %d",N,T);
  for(lc=0;lc&ltN;lc++){
    scanf("%d",&width[lc]);
  }
  for(lc=0;lc&ltT;lc++){
    scanf("%d %d",&i,&j);
    min=width[i];
    for(l2=i+1;l2&lt=j;l2++)
      {
      if(width[l2]&ltmin)
        min=width[l2];
    }
    printf("%d\n",min);
  }
  return 0;
}

</code></pre>
  </body>
</html>		
