<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	


#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() {
    long long int a,b,c,d,e;
    int test,i;
    scanf("%d",&test);
    for(i=0;i&lttest;i++)
        {
        scanf("%lld",&a);
        scanf("%lld",&b);
        scanf("%lld",&c);
        scanf("%lld",&d);
        scanf("%lld",&e);
        if((c+e)>=d && (d+e)>=c)
            {
            printf("%lld\n",a*c + b*d);
        }
        else if((c+e)&ltd)
            {
           printf("%lld\n",(c+e)*b + a*c);
        }
        else if((d+e)&ltc)
            {
            printf("%lld\n",(d+e)*a + b*d);
        }
        }
    
    

    /* Enter your code here. Read input from STDIN. Print output to STDOUT */    
    return 0;
}

  </code></pre>
  </body>
</html>		
