
<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	




#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
   int i,j,n;
	scanf("%d",&n);
	for (i=1;i&lt=n;i++)
	{for(j=n-i;j>=1;j--)
	{
	printf(" ");}
	for(j=0;j&lti;j++)
	{
	printf("#");
	}
	
	printf("\n");
}
    return 0;
}
	 

</code></pre>
  </body>
</html>		


