
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> How do you provide configuration metadata to the Spring Container?</p>







	There are three important methods to provide configuration metadata to the Spring Container:
	XML based configuration file.
	Annotation-based configuration
	Java-based configuration
	
	
	</div>






































</div>










 


 


 








 











