<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	


#include&ltstdio.h&gt
int main()
    {
    int test,time;
    long int i,n,k,j,count;
    scanf("%d",&test);
    for(i=1;i&lt=test;i++)
            {
        count=0;
        scanf("%ld",&n);
        scanf("%ld",&k);
        for(j=1;j&lt=n;j++)
            {
            scanf("%d",&time);
            if(time&lt=0)
                count=count+1;
        }
        if(count&ltk)
            printf("YES \n");
        else 
            printf("NO \n");
       }
    return 0;
}
       

</code></pre>
  </body>
</html>		
              

