<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	





#include &ltmath.h&gt
#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltstdlib.h&gt
#include &ltassert.h&gt
#include &ltlimits.h&gt
#include &ltstdbool.h&gt

int main(){
    long int k=0,i,j;
    char* S = (char *)malloc(10240 * sizeof(char));
    scanf("%s",S);
    int a[3];
    a[0]='S';
    a[1]='O';
    a[2]='S';
    for(i=0,j=0;S[i]!='\0';i++)
   {
        if(j==3)
            {j=0;}
        if(S[i]!=a[j])
            {k++;}
          j++;
    }
    printf("%ld",k);
    return 0;
}

</code></pre>
  </body>
</html>		
