<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-cpp"><code>


		





//cut-the-tree.cpp
//Cut the tree


#include&ltiostream&gt
#include&ltvector&gt
#include&ltclimits&gt
using namespace std;

int value[100001], n, tot, best;
vector&ltvector&ltint&gt  v;
bool visited[100001];
int sum[100001];

int dfs(int node)
{
	int ret = 0;
	visited[node] = true;
	int sz = (int)v[node].size();
	for (int i = 0; i < sz; i++)
	{
		int next = v[node][i];
		if (!visited[next])
			ret += dfs(next);
	}
	return sum[node] = value[node] + ret;
}

int main()
{
	best = INT_MAX;
	tot = 0;
	cin >> n;
	for (int i = 1; i <= n; i++)
	{
		cin >> value[i];
		tot += value[i];
	}
	v.resize(n + 1);
	for (int i = 0; i < n - 1; i++)
	{
		int a, b;
		cin >> a >> b;
		v[a].push_back(b);
		v[b].push_back(a);
	}
	dfs(1);
	for (int i = 1; i <= n; i++)
		if (abs(tot - sum[i] - sum[i]) < best)
			best = abs(tot - sum[i] - sum[i]);
	cout << best << endl;
	return 0;
}



        
        </code></pre>
  </body>
</html>		
