<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	




#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() 
    {
    int a,i,j,b=0;
    scanf("%d",&a);
    for(j=1;j&lt=a;j++)
        {
        int count=0;
        char arr[100001];
        scanf("%s",arr);
        for(i=0;i&ltstrlen(arr);i++)
        {
        if(arr[i]==arr[i+1])
            {
            count=count+1;
            }      
        }
        printf("%d\n",count);
        }
    /* Enter your code here. Read input from STDIN. Print output to STDOUT */    
    return 0;   
    }
	
	
        
        </code></pre>
  </body>
</html>		
