<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-cpp"><code>



#include&ltiostream&gt
using namespace std;

int s[100000];

int gcd(int a,int b)
{
	return b ? gcd(b, a%b) : a;
}

int main()
{
	ios_base::sync_with_stdio(false);
	int t;
	cin >> t;
	while (t--)
	{
		int n, k;
		cin >> n >> k;
		int val = -1;
		for (int i = 0; i < n; i++)
		{
			cin >> s[i];
			if (s[i] % k == 0)
			{
				if (val == -1) val = s[i];
				else val = gcd(val, s[i]);
			}
		}
		cout << (val == k ? "YES" : "NO") << endl;
	}
	return 0;
}

</code></pre>
  </body>
</html>		
