
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> How can you inject a Java Collection in Spring?
	  
	</p>




	Spring offers the following types of collection configuration elements:
	<br>The list type is used for injecting a list of values, in the case that duplicates are allowed.
	<br>  The set type is used for wiring a set of values but without any duplicates.
		<br>The map type is used to inject a collection of name-value pairs where name and value can be of any type.
		<br>  The props type can be used to inject a collection of name-value pairs where the name and value are both Strings.


  </div>






































</div>










 


 


 








 











