
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> How do you define the scope of a bean?</p>
	






	
	When defining a bean in Spring, we can also declare a scope for the bean. It can be defined through the scope attribute in the bean definition. For example, when Spring has to produce a new bean instance each time one is needed, the bean’s scope attribute to be prototype. On the other hand, when the same instance of a bean must be returned by Spring every time it is needed, the the bean scope attribute must be set to singleton.


  </div>






































</div>










 


 


 








 











