
<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>
	
	<pre class="language-c"><code>
	




#include &ltstdio.h&gt
#include &ltstring.h&gt
#include &ltmath.h&gt
#include &ltstdlib.h&gt

int main() {
      int a,i;
      scanf("%d",&a);
      long int arr[a],c=0;
      for(i=0;i&lta;i++)
	      {
    	 	scanf("%ld",&arr[i]); 
     	 	c=c+arr[i];
     	  }
     printf("%ld\n",c );
      /* Enter your code here. Read input from STDIN. Print output to STDOUT */    
      return 0;
}

</code></pre>
  </body>
</html>		


