<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-cpp"><code>







//lonely-integer.cpp
//Lonely Integer


#include&ltiostream&gt
using namespace std;

int main()
{
	int n;
	cin >> n;
	int sum = 0, val;
	for (int i = 0; i &lt n; i++)
	{
		cin >> val;
		sum ^= val;
	}
	cout &lt&lt sum &lt&lt endl;
	return 0;
}



	  </code></pre>
  </body>
</html>		
